<footer class="footer">
    <small>
        The <a href="http://www.railstutorials.org/">Ruby on Rails Tutorial</a>
        by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
            <li><%= link_to 'News', 'http://news.railstutorials.org/' %></li>
        </ul>
    </nav>
</footer>
